URxvt.font:			xft:IBM Plex Mono Medium:size=13
URxvt.boldFont:			xft:IBM Plex Mono:Bold:size=13
URxvt.allow_bold:		true
urxvt.internalBorder:		8
URxvt.letterSpace:		-1
URxvt.cursorBlink:		true
URxvt.scrollBar:		false
URxvt.saveLines:		1024
URxvt.iso14755:			False
URxvt.iso14755_52:		false
URxvt.perl-ext-common:		resize-font 
URxvt.keysym.C-S-Down:		resize-font:smaller
URxvt.keysym.C-S-Up:		resize-font:bigger
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down: 	\033[1;5B
URxvt.keysym.Control-Left: 	\033[1;5D
URxvt.keysym.Control-Right:	\033[1;5C
*.foreground:			#E8DFD6
*.background:			#021B21
*.color0:			#032C36
*.color1:			#C2454E
*.color2:			#7CBF9E
*.color3:			#8A7A63
*.color4:			#2E3340
*.color5:			#FF5879
*.color6:			#44B5B1
*.color7:			#F2F1B9
*.color8:			#065F73
*.color9:			#EF5847
*.color10:			#A2D9B1
*.color11:			#BEB090
*.color12:			#61778D
*.color13:			#FF99A1
*.color14:			#9ED9D8
*.color15:			#F6F6C9
