
! urxvt
urxvt.font:		xft:MonacoB2:pixelsize=18	
urxvt.internalBorder:	8
urxvt.letterSpace: 	0
urxvt.scrollBar:	false
urxvt.saveLines:	1024
urxvt.perl-ext:
urxvt.perl-ext-common:

! colors
*.foreground:   	#ffffff
*.background:   	#000000
*.color0:       	#000000
*.color1:       	#cc0403
*.color2:       	#19cb00
*.color3:       	#cecb00
*.color4:       	#001cd1
*.color5:       	#cb1ed1
*.color6:       	#0dcdcd
*.color7:       	#e5e5e5
*.color8:       	#4d4d4d
*.color9:       	#dca3a3
*.color10:      	#c3bf9f
*.color11:      	#f0dfaf
*.color12:      	#94bff3
*.color13:      	#ec93d3
*.color14:      	#93e0e3
*.color15:      	#ffffff
